@import url(./global/global.css);
@import url(./global/header.css);

/*utilidades*/
@import url(./utilidades/componentes.css);
/*home*/
@import url(./home/home.css);

:root {
  --c12: #000;
  --c11: #111111;
  --c10: #2e2e2e;
  --c9: #404040;
  --c8: #595959;
  --c7: #717171;
  --c6: #9c9c9c;
  --c5: #b2b2b2;
  --c4: #cccccc;
  --c3: #dedede;
  --c2: #ededed;
  --c1: #f7f7f7;
  --w: #fff;

  --P5: #332200;
  --P4: #664400;
  --P3: #a66f00;
  --P2: #e4a30b;
  --P1: #ffbb00;
}
